.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #dcdada;
  padding: 10px 10px;
  border-radius: 38%;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 35px;
	overflow: hidden;
}

.home-button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #dcdada;
  border-radius: 38%;
  padding: 10px 10px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 35px;
	overflow: hidden;
}

ul li { 
  display: inline-block; 
  padding: 10px 30px;  
  margin-right: 400px; 
} 

.footer {
	font-weight: bold;
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 0.3cm;
  margin-top: auto;
  text-align: center;
}


.links p img {
  max-width: 50%;
  max-height: 50%;
  display:inline-block;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 35px;
	overflow: hidden;
}

.site-logo {
  width: 200px; 
  height: 150px; 
}

.navigate {
  display: flex;
  justify-content: space-between;
  background-color: rgb(151, 187, 130);
  padding: 0.3cm;
  align-items: center;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #000000;
}

